{% extends "base.html" %}
{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
<div class="containerx">
  <h2 class="titlex">Cambiar Contraseña</h2>

  {% if form.non_field_errors %}
    <div class="errorx">
      {% for e in form.non_field_errors %}<div>{{ e }}</div>{% endfor %}
    </div>
  {% endif %}

  <form method="post" class="formx">
    {% csrf_token %}

    <div class="form-groupx">
      <label for="{{ form.old_password.id_for_label }}">Contraseña actual</label>
      {{ form.old_password }}
      {% for e in form.old_password.errors %}<div class="errorx">{{ e }}</div>{% endfor %}
    </div>

    <div class="form-groupx">
      <label for="{{ form.new_password1.id_for_label }}">Nueva contraseña</label>
      {{ form.new_password1 }}
      {% if form.new_password1.help_text %}
        <div class="muted">{{ form.new_password1.help_text|safe }}</div>
      {% endif %}
      {% for e in form.new_password1.errors %}<div class="errorx">{{ e }}</div>{% endfor %}
    </div>

    <div class="form-groupx">
      <label for="{{ form.new_password2.id_for_label }}">Confirmar nueva contraseña</label>
      {{ form.new_password2 }}
      {% for e in form.new_password2.errors %}<div class="errorx">{{ e }}</div>{% endfor %}
    </div>

    <div class="actionsx">
      <button type="submit" class="btnx btn-outline">Guardar cambios</button>
      <a href="{% url 'profile' %}" class="btnx btn-outline">Cancelar</a>
    </div>
  </form>
</div>
{% endblock %}